REGISTRY_ROOT=/var/lib/diamond-registry
REGISTRY_FACET=/opt/diamond/build/facet
REGISTRY_PORT=18120
REGISTRY_BASE=
REGISTRY_MAX_BODY_BYTES=26214400
REGISTRY_MAX_CONNECTIONS=8
REGISTRY_TIMEOUT_SECONDS=30
DIAMOND_NO_CACHE=1
